/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,300;1,400&display=swap");
/* Marcellus Font */
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

/* Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variabele Kleuren */
/* Variabele Kleuren */
/* Variabele Kleuren */

:root {
	--blauw: #242a36;
	--goud: #bda76e;
	--wit: #fbfbfb;
}

/* Globale Stijlen */
/* Globale Stijlen */
/* Globale Stijlen */

html {
	font-size: 10px;
	overflow-x: hidden;
	height: 100%;
}

body {
	font-family: "Poppins", sans-serif, "Arial", sans-serif;
	font-size: 1.6rem;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Marcellus", serif, "Arial", serif;
	font-size: 4.2rem;
	color: var(--goud);
	margin: 0px 0px 25px 0px;
}

p {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	color: var(--wit);
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.container-full {
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}

.container {
	max-width: 1080px;
	width: 75%;
	padding: 0 2rem;
	margin: 0 auto;
}

.button {
	color: var(--wit);
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1rem 1.5rem;
	border: none;
}

/* Globale Flex/Grid Framework */
/* Globale Flex/Grid Framework */
/* Globale Flex/Grid Framework */

.row {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0px;
}

.col-1 {
	flex: 2 2 auto;
	width: 95%;
	min-width: 320px;
	padding: 25px;
}

.col-2 {
	flex: 2 2 auto;
	width: 47.5%;
	min-width: 320px;
	padding: 25px;
}

.col-3 {
	flex: 2 2 auto;
	width: 31.66666%;
	min-width: 280px;
	padding: 25px;
}

/* Header Styling */
/* Header Styling */
/* Header Styling */

.header-nav {
	width: 100%;
	height: 10rem;
	display: flex;
	align-items: top;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.logo img {
	width: 100px;
	height: auto;
	margin-top: 15px;
}

.header-nav .container-full {
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
	background: linear-gradient(
		180deg,
		rgba(36, 42, 54, 1) 0%,
		rgba(36, 42, 54, 1) 30%,
		rgba(36, 42, 54, 1) 50%,
		rgba(36, 42, 54, 0.5970763305322129) 70%,
		rgba(36, 42, 54, 0) 100%
	);
}

/* MOBILE MENU */
/* MOBILE MENU */
/* MOBILE MENU */

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo {
	display: none;
}

.hamburger-menu {
	font-size: 3.5rem;
	color: white;
	cursor: pointer;
	position: relative;
	z-index: 1500;
}

/* X icon om menu te sluiten niet tonen */
.hamburger-menu .fa-times {
	display: none;
}

/* X icon in menu tonen zodra het open geklikt wordt */
.menu-open .hamburger-menu .fa-times {
	display: block;
}

/* Hamburger icon in menu verbergen wanneer menu open is */
.menu-open .hamburger-menu .fa-bars {
	display: none;
}

.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--blauw);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1400;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.3s ease-in-out;
}

.menu-open .nav-list {
	opacity: 1;
	transform: scale(1);
}

.nav-item:not(:last-child) {
	margin-bottom: 1rem;
}

.nav-link {
	display: block;
	color: white;
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1.5rem;
	transition: background 0.3s ease-in-out;
}

.nav-link:hover {
	background: var(--wit);
	color: var(--goud);
}

/* Hero in header styling */
/* Hero in header styling */
/* Hero in header styling */

.header-content {
	width: 100vw;
	position: relative;
	bottom: 15px;
}

.header-content video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -2;
}

.hero {
	width: 100%;
	height: 90vh;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 0;
}

.hero::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-color: rgba(36, 42, 54, 0.5);
	z-index: -1;
}

.header-text {
	color: var(--wit);
	line-height: 1;
	text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
}

.header-text .title {
	font-family: "Poppins", sans-serif;
	font-size: 4.8rem;
	font-weight: 600;
	color: var(--wit);
	text-transform: uppercase;
	margin: 0.5rem;
}

.header-text .subtitle {
	font-size: 3.6rem;
	font-weight: 300;
	color: var(--wit);
	margin: 0.5rem;
	font-style: italic;
}

.button-hero {
	margin-top: 50px;
	background-color: var(--goud);
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

.button-hero:hover {
	background-color: var(--blauw);
}

/* Banner BOEKEN */
/* Banner BOEKEN */
/* Banner BOEKEN */

.kamer-boeken {
	height: 10vh;
	background-color: var(--blauw);
	display: flex;
	align-items: center;
	justify-content: center;
}

.kamer-boeken .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.kamer-boeken h1 {
	color: var(--goud);
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 3rem;
}

.kamer-boeken .input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.kamer-boeken .boeken-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.kamer-boeken label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--goud);
}

.kamer-boeken .button-beschikbaarheid {
	background-color: var(--goud);
	color: var(--wit);
	transition: color 0.2s ease-in-out;
	padding: 4.2vh 15px;
}

.kamer-boeken .button-beschikbaarheid:hover {
	color: var(--blauw);
}

/* Nieuwsbrief */
/* Nieuwsbrief */
/* Nieuwsbrief */

.nieuwsbrief {
	width: 100vw;
	background-color: var(--goud);
	margin-top: 50px;
	padding: 20px 0px;
}

.nieuwsbrief h1 {
	color: var(--wit);
	margin: 0px 0px 15px 0px;
}
.nieuwsbrief p {
	color: var(--wit);
	margin: 0px 0px 15px 0px;
	text-align: center;
}

.nieuwsbrief-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nieuwsbrief-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nieuwsbrief-form input[type="email"] {
	border: 1px solid var(--blauw);
	color: grey;
	height: 28px;
	width: 220px;
	text-align: center;
}

.nieuwsbrief-form input[type="submit"] {
	border-radius: 8px;
	border: none;
	background-color: var(--blauw);
	color: var(--wit);
	text-align: center;
	padding: 15px 30px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.nieuwsbrief-form input[type="submit"]:hover {
	color: white;
	background-color: #394255;
}

/* Footer */
/* Footer */
/* Footer */

.footer {
	background-color: var(--blauw);
	width: 100vw;
	padding: 20px 0px;
}

.footer .col-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0px;
}

.footer-image img {
	width: 120px;
	opacity: 0.7;
}

.footer h1 {
	font-family: "Poppins", sans-serif;
	font-size: 3rem;
	font-weight: bold;
	color: var(--wit);
}

.footer p {
	margin: 5px 0px;
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	color: var(--wit);
}

/* Media Queries */
/* Media Queries */
/* Media Queries */

/* Verwijder BOEKING-BANNER wanneer hij niet meer past */

@media screen and (max-width: 1270px) {
	.kamer-boeken {
		display: none;
	}

	.hero {
		height: 100vh;
	}

	.kamer-boeken {
		display: none;
	}

	.hero {
		height: 100vh;
	}
}

/* Menu voor Desktop - CSS */

@media screen and (min-width: 800px) {
	.hamburger-menu {
		display: none;
	}

	.nav-list {
		position: initial;
		width: initial;
		height: initial;
		flex-direction: row;
		justify-content: initial;
		opacity: 1;
		transform: scale(1);
		background-color: rgba(0, 0, 0, 0);
	}

	.nav-item:not(:last-child) {
		margin-right: 3rem;
		margin-bottom: 0;
	}

	.nav-link {
		font-size: 1.5rem;
		font-weight: normal;
	}

	.logo {
		display: none;
	}

	.nav {
		justify-content: center;
		align-items: center;
		position: relative;
		left: 30px;
	}

	.nav-logo {
		display: initial;
	}

	.nav-logo {
		display: initial;
	}

	.nav-logo img {
		width: 100px;
		height: auto;
	}
}
